@{
    ViewData["Title"] = "Versement Page";
}

<div class="text-center">
    <h1 class="display-4">Daily BeTaxe Versement.</h1>
    <p>Today date: @ViewData["DateVersement"]</p>
    <p>Hour: @ViewData["HeureVersement"]</p>
    <p>Price: @ViewData["MontantVersement"] Ar</p>
</div>
